@font-face {
  font-family: "JetBrainsMono-Bold";
  src: url('JetBrainsMono-Bold.woff2?t=1697248325037') format('woff2');
}

@font-face {
  font-family: "iconfont"; /* Project id 1994092 */
  src: url('iconfont.woff2?t=1697248325037') format('woff2'),
       url('iconfont.woff?t=1697248325037') format('woff'),
       url('iconfont.ttf?t=1697248325037') format('truetype');
}

body {
  font-family: "JetBrainsMono-Bold", sans-serif;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-031mail2:before {
  content: "\e6c1";
}

.icon-dianziyouxiang:before {
  content: "\e750";
}

.icon-youxiang1:before {
  content: "\e655";
}

.icon-weizhi:before {
  content: "\e605";
}

.icon-banquan:before {
  content: "\e6d5";
}

.icon-rss:before {
  content: "\e7ea";
}

.icon-github:before {
  content: "\e628";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-likou:before {
  content: "\e635";
}

.icon-top:before {
  content: "\e606";
}

.icon-bianji:before {
  content: "\e604";
}

.icon-xinzeng:before {
  content: "\e65e";
}

.icon-shanchu:before {
  content: "\e60a";
}

.icon-xiala:before {
  content: "\e603";
}

.icon-qq:before {
  content: "\e601";
}

.icon-gitee:before {
  content: "\e602";
}

.icon-weixin:before {
  content: "\e621";
}

.icon-wendang1-copy-copy-copy:before {
  content: "\e600";
}

.icon-fabu:before {
  content: "\e815";
}

.icon-guidang:before {
  content: "\e643";
}

.icon-bar:before {
  content: "\e8e5";
}

.icon-shuqian:before {
  content: "\e63a";
}

.icon-angle-double-right:before {
  content: "\ef17";
}

.icon-calendar:before {
  content: "\e609";
}

.icon-chakancishu:before {
  content: "\e636";
}

.icon-tubiao-:before {
  content: "\e654";
}

.icon-leimupinleifenleileibie:before {
  content: "\e7f9";
}

.icon-fenlei-copy:before {
  content: "\e64e";
}

.icon-guanyuwomen:before {
  content: "\e68d";
}

.icon-home:before {
  content: "\e61a";
}

